body {
font-family: 'Arial', sans-serif;
 margin: 0;
 padding: 0;
 background-size: cover;
 background-attachment:fixed ;
 background-position: center;
 color: #ffffff;
}

header {
 background-image: url(analog-landscape-city-with-buildings.jpg);
 background-size: cover;
 color: #ffffff;
 padding: 20px 0;
 text-align: center;
}

nav {
 background-image: url(analog-landscape-city-with-buildings.jpg);
 background-size: cover;
 text-align: center;
 padding: 10px 0;
 position: sticky;
 top: 0;
 z-index: 1000;
}

nav a {
 color: #ffffff;
 margin: 0 15px;
 text-decoration: none;
 font-size: 18px;
transition:color 0.3s ;
}

nav a:hover {
 color: rgb(3, 3, 3);
}

.container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: auto;
 padding: 5px;
}

.container img {
 display: block;
 margin: auto;
 padding: 5px;
 width: 200px;
 height: 200px;
}

.clearfix::after {
 content: "";
 clear: both;
 display: table;
}


.column {
float: left;
padding: 5px;
width: 200px;
height: 200px;
}

.row:after {
 content: "";
 clear: both;
 display: table;
}

video {
 display: block;
 margin: 0 auto
}
